<div id="main-content" class="card">
  <header>
    <h1 id="fxa-authorize-signin-header">{{#t}}Uh oh. I'm afraid we can't do that for you just yet.{{/t}}</h1>
  </header>

  <section>
    <div class="error"></div>

    <p>
    {{#t}}To better protect your Firefox data this sign-in must be authorized. To do this, click the verification link sent to %(email)s{{/t}}
    </p>

    <form novalidate>
      <div class="input-row">
          <p class="prefillEmail">{{ email }}</p>
          <input type="email" class="email hidden" value="{{ email }}" disabled />
      </div>

      <div class="button-row">
        <button id="submit-btn" type="submit" class="disabled">{{#t}}Send verification email{{/t}}</button>
      </div>
    </form>

    <div class="links">
      <a id="resend" href="#">{{#t}}Resend{{/t}}</a>
      <a href="https://support.mozilla.org">{{#t}}Why is this happening?{{/t}}</a>
    </div>

  </section>
</div>
