<div id="main-content" class="card">
  <header>
    <h1 id="fxa-confirm-header">{{#t}}New Sign-in to Firefox{{/t}}</h1>
    <h1 id="fxa-confirm-signin-header">{{#t}}For added security, please confirm this sign-in to 
    begin syncing with this device.{{/t}}</h1>
  </header>

  <section>
    <form novalidate>
      <div class="button-row">
        <button id="submit-btn" type="submit">{{#t}}Confirm{{/t}}</button>
      </div>
    </form>
    <div class="links">
        If you think someone is trying to gain access to your accound, <a href="/reset_password" class="right reset-password" data-flow-event="forgot-password">{{#t}}please change your password{{/t}}</a>
    </div>
  </section>
</div>
