<div id="main-content" class="card">
  <header>
    <h1 id="fxa-complete-signin-authorization-header">{{#t}}Complete signin authorization{{/t}}</h1>
  </header>

  <section>
    <div class="error"></div>

    {{email}} you are good to go
  </section>
</div>
