<div id="main-content" class="card">
  <header class="hidden"><h1>{{#t}}Connect another device{{/t}}</h1></header>
  <div class="success visible">{{#t}}Email confirmed{{/t}}</div>
  <section>
    <div class="graphic graphic-connect-another-device">{{#t}}Success{{/t}}</div>

    {{#canSignIn}}
      <p>
        {{#t}}Complete set-up by signing in to this Firefox.{{/t}}
      </p>

      <form novalidate>
        <div class="button-row">
          <a id="signin" class="button" href="{{{ escapedSignInUrl }}}">{{#unsafeTranslate}}Sign in &rarr;{{/unsafeTranslate}}</a>
        </div>
      </form>
    {{/canSignIn}}
    {{^canSignIn}}
      {{#isFirefoxIos}}
        <!-- user verifies in Fx for iOS, assume they are not signed in -->
        <p id="signin-fxios">
          {{#t}}Complete set-up by signing in to this Firefox.{{/t}}
          {{#t}}Open settings and click Sign In to Firefox.{{/t}}
        </p>
      {{/isFirefoxIos}}
      {{#isOtherIos}}
        <!-- Safari or Chrome for iOS, encourage installation of Fx -->
        <p id="install-mobile-firefox-ios">
          {{#t}}Complete set-up by installing Firefox for iOS.{{/t}}
        </p>
      {{/isOtherIos}}
      {{#isFirefoxAndroid}}
        <!-- User verified in Fx for Android - they are using an old Fennec
        or are already signed in. Ignore old browsers, assume already signed in.
        Encourage installation on another device. -->
        <p id="connect-other-firefox-from-android">
          {{#t}}Complete set-up by connecting Firefox on another device.{{/t}}
        </p>
      {{/isFirefoxAndroid}}
      {{#isOtherAndroid}}
        <!-- Another android browser, encourage Fx for Android installation -->
        <p id="install-mobile-firefox-android">
          {{#t}}Complete set-up by installing Firefox for Android.{{/t}}
        </p>
      {{/isOtherAndroid}}
      {{#isOther}}
        <!-- probably some desktop browser -->
        <p id="install-mobile-firefox-other">
          {{#t}}Complete set-up by connecting Firefox for your smartphone.{{/t}}
        </p>
      {{/isOther}}

      {{^isFirefoxIos}}
        <div class="marketing-area"></div>
      {{/isFirefoxIos}}
    {{/canSignIn}}
    <div class="links">
      <a href="/connect_another_device/why">{{#t}}Why is this required?{{/t}}</a>
    </div>
    <aside class="child-view"></aside>
  </section>

</div>
