<div id="main-content" class="card pair-auth">
  <header>
    <h1 id="fxa-pair-auth-wait-for-supp-header">
      {{#t}}Waiting for approval on other device{{/t}}
    </h1>
  </header>

  {{{ unsafeDeviceBeingPairedHTML }}}

  <section>
    <div class="error"></div>
    <div class="success"></div>

  </section>
</div>
