<div id="main-content" class="card pair-auth">
    <header>
      <h1 id="fxa-pair-supp-allow-header">
        {{#t}}Sign in to %(serviceName)s{{/t}}
      </h1>
    </header>

    <section>
      <div class="error"></div>
      <div class="success"></div>

      <form novalidate>
          <div class="user-card">
            <div class="avatar-wrapper card-view {{^profileImageUrl}}with-default{{/profileImageUrl}}">
              {{#profileImageUrl}}
                <img src="{{{ profileImageUrl }}}">
              {{/profileImageUrl}}
              {{^profileImageUrl}}
                <span></span>
              {{/profileImageUrl}}
            </div>
            <div class="user-info">
              <div>
                  {{#displayName}}
                  <div>{{ displayName }}</div>
                  {{/displayName}}
                  <div class="prefillEmail">{{ email }}</div>
              </div>
            </div>
          </div>

          {{#t}}from{{/t}}

          {{{ unsafeDeviceBeingPairedHTML }}}

        <div class="button-row">
          <button type="submit">{{#t}}Allow{{/t}}</button>
        </div>
      </form>
    </section>
  </div>
