<div id="main-content" class="card pair-auth">
  <header>
    <h1 id="pair-auth-complete-header">{{#t}}Device connected!{{/t}}</h1>
  </header>

  <section>
    <div class="error"></div>

    <div class="graphic graphic-checkbox">{{#t}}Success{{/t}}</div>

    <p>{{#t}}You are now syncing with:{{/t}}</p>

    {{{ unsafeDeviceBeingPairedHTML }}}
  </section>
</div>

