<div id="main-content" class="card">

    <header>
        <h1 id="fxa-complete-reset-password-header">{{#t}}Create new password{{/t}}</h1>
    </header>

    <section>
        <div class="error"></div>

        <form novalidate>
            <p class="reset-warning">
                {{#unsafeTranslate}}Your account will be restored using your recovery key.Please keep your new password in a safe location.{{/unsafeTranslate}}
            </p>

            <div class="input-row password-row">
                <input type="password" class="password check-password tooltip-below" id="password"
                       placeholder="{{#t}}New password{{/t}}" pattern=".{8,}" required autofocus
                       data-synchronize-show="true"/>

                <div class="input-help input-help-complete-password">{{#t}}Must be at least 8 characters{{/t}}</div>
            </div>


            <div class="input-row password-row">
                <input type="password" class="password tooltip-below" id="vpassword"
                       placeholder="{{#t}}Re-enter password{{/t}}" required pattern=".{8,}"
                       data-synchronize-show="true"/>
            </div>

            <div class="button-row">
                <button type="submit" class="warning-button">{{#t}}Reset password{{/t}}</button>
            </div>
        </form>
    </section>
</div>
