<header>
  <h1>{{#t}}Firefox Accounts{{/t}}</h1>
  <h2 id="fxa-settings-header">{{#t}}Manage account{{/t}}</h2>
</header>

<section>
  <div class="error"></div>

  <p>{{#t}}You are signed in as: %(email)s{{/t}}</p>


  <ul class="links">
    <li>
      <a id="signout" href="#">{{#t}}Sign out{{/t}}</a>
    </li>
  </ul>
</section>
