<header>
  <h1 id="fxa-unexpected-error-header">{{#t}}Unexpected Error{{/t}}</h1>
</header>
<section>
  <div class="error">{{ message }}</div>
  <p>
    {{ fileName }} {{ lineNumber }}
  </p>
  <p>
    {{#t}}This error has been logged with Mozilla{{/t}}
  </p>
</section>



