.info,
.warning,
.error,
.success {
  @include body10();

  border-radius: 4px;
  margin-bottom: 5px;
  padding: 4px;
  position: relative;
  line-height: 24px;
  margin: 0 auto 10px auto;
  min-height: 32px;

  @include respond-to('small') {
    width: 100%;
  }

  a {
    text-decoration: underline;
  }

  &.visible {
    display: block;
  }

  /*Pull the message up to bring it closer to the header*/
  &.nudge {
    top: -10px;
/*
      &.pad {
          padding: 10px;
      }*/
  }
}

.info {
  background: $info-background-color;
  color: $info-text-color;

  a {
    color: $info-text-color;
  }
}

.warning {
  background: $warning-background-color;
  color: $warning-text-color;

  a {
    color: $warning-text-color;
  }
}

.error {
  background: $error-background-color;
  color: $error-text-color;
  display: none;

  a {
    color: $error-text-color;
  }

  .loading & {
    // there is no header on the loading screen. Push the text down slightly.
    margin-top: 20px;
  }
}

.success {
  background: $success-background-color;
  color: $success-text-color;
  display: none;

  a {
    color: $success-text-color;
  }

  &.visible {
    top: 10px;
  }
}

// complete is like success, but without the associated styles.
.complete {
  display: none;
}

.progress-hidden {
  display: none;
}

.hidden {
  display: none;
}

.reset-warning {
  font-size: $base-font;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 25px 24px 25px;

  span {
    color: $reset-pw-warning;
  }

  &.reset-warning-complete-password {
    margin-bottom: 25px;
  }
}

// Put a margin on top when the error messages follow a div
div + .success,
div + .error {
  margin-top: 10px;
}

/* Animation triggering classes */
.shake {
  animation: shake $long-transition;
}

.fadein {
  animation: fadein $long-transition;
}

.fade-in-forward {
  animation: fadein $short-transition forwards;
}

.fade-down-tt {
  animation: fade-down-tt $medium-transition;
}

.fade-up-tt {
  animation: fade-up-tt $medium-transition;
}

.pulse {
  animation: pulse $medium-transition;
}


/* Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//used to spin loader elements
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

//used for tooltips below form element
@keyframes fade-up-tt {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//used for tooltips above form element
@keyframes fade-down-tt {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//used for pulsing checkbox
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

//used for bringing  logo into position
@keyframes fade-down-logo {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//used to add shake to error/success message
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

// custom state indicators
#suggest-sync {
  > a {
    text-decoration: underline;
  }

  .dismiss {
    position: absolute;
    top: 4px;
    cursor: pointer;
  }

  html[dir='ltr'] & {
    text-align: center;
    padding-left: 10px;
    padding-right: 25px;

    .dismiss {
      right: 10px;
    }
  }

  html[dir='rtl'] & {
    text-align: center;
    padding-left: 25px;
    padding-right: 10px;

    .dismiss {
      left: 10px;
    }
  }
}
