<aside id="password-repeat-balloon" class="input-help input-help-balloon password-repeat-balloon">
  <ul>
    <li class="lock last big-only">{{#unsafeTranslate}}Remember this password &mdash; it encrypts your data! If forgotten you will lose access to Sync data.{{/unsafeTranslate}}</li>
  </ul>
</aside>
