<input id="show-password" type="checkbox" class="show-password" aria-controls="password" tabindex="-1" data-novalue />
<label for="show-password" class="show-password-label">
  {{#t}}Show{{/t}}
</label>
