.input-row {
  margin-bottom: 16px;
  position: relative;
  width: 100%;

/*
  &.input-row-age {
    margin-top: 25px;
  }

  @include respond-to('reasonableUI') {
    margin-bottom: 12px;
  }

  @include respond-to('trustedUI') {
    margin-bottom: 9px;
  }
*/

  &:hover input:focus {
    border-color: $input-border-focus-color;
  }

  &:hover input.invalid:focus {
    border-color: $error-background-color;
  }

  input {
    transition: border-color $short-transition,
                box-shadow $short-transition;

    // disable arrows on HTML5 number inputs
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }

    &[type='email'],
    &[type='number'],
    &[type='password'],
    &[type='tel'],
    &[type='text'] {
      @include input-element();

      &:hover {
        border-color: $input-border-hover-color;
      }

      &:focus {
        border-color: $input-border-focus-color;
        /*border: none;*/
        box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
      }

      &.invalid {
        border-color: $error-background-color;
      }

      &.invalid:focus {
        box-shadow: /*0 0 0 1px #0a84ff, */0 0 0 4px rgba($error-background-color, 0.3);
      }

      &:disabled {
        background-color: $input-background-disabled-color;
        border-color: $input-border-default-color;
        color: $input-text-disabled-color;
        cursor: not-allowed;
      }
    }

    html[dir='ltr'] & {
      padding: 0 0 0 $input-left-right-padding;
    }

    html[dir='rtl'] & {
      direction: ltr;
      padding: 0  $input-left-right-padding 0 0;
      text-align: right;
    }

    &[type='checkbox']:hover,
    &[type='checkbox']:focus {
      border: 1px solid $input-border-focus-color;
    }

  &.unblock-code {
    text-transform: uppercase;

    &::placeholder {
      text-transform: none;
    }
  }
}

  &:last-child {
    margin-bottom: 0;
  }

  .input-help {
    color: $grey-50;
    margin-top: 6px;
    transition: opacity $medium-transition;

    &.input-help-inline {
      @include caption10();
    }

    &.input-help-complete-password {
      text-align: center;
    }
/*
    @include respond-to('small') {
      font-size: $small-font;
    }*/
  }

  .input-help-forgot-pw {
    text-align: left;
  }

  .input-help-focused {
    @include respond-to('reasonableUI') {
      opacity: 0;
    }

    @include respond-to('trustedUI') {
      opacity: 1;
    }
  }

  input:focus ~ .input-help-focused,
  label:active ~ .input-help-focused,
  label:focus ~ .input-help-focused,
  .input-help-focused.highlight {
    /*color: $input-border-focus-color;*/
    opacity: 1;
  }
/*
  &.label-helper-top {
    // input rows with a label on the top need a bit more space
    // than the 12px margin-bottom given from the element above it,
    // except for the first row, which only needs 15px.
    &:first-of-type {
      margin-top: 15px;
    }

    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  .label-helper {
    font-size: $font-size-body-10;
    color: $input-border-default-color;
  }

  .label-helper.focused {
    color: $input-border-focus-color;
  }*/
}
