<div id="account-recovery-confirm-password">
    <section class="modal-panel">
        <div class="error"></div>

        <h2>{{#t}}Re-enter password{{/t}}</h2>

        <form novalidate>
            <p class="description">
                <span class="note">{{#t}}NOTE:{{/t}}</span>
                {{#t}}Please store your recovery key in a safe physical location. In the event you forget your password, they can be used to restore you account data.{{/t}}
            </p>

            <h2>{{email}}</h2>

            <div class="input-row password-row">
                <input type="password" class="password tooltip-below" id="password" placeholder="{{#t}}Password{{/t}}" required pattern=".{8,}" autofocus/>
            </div>

            <div class="button-row">
                <button class="primary-button generate-key-link">{{#t}}Continue →{{/t}}</button>
            </div>
            <div class="link-options">
                <a class="cancel-link">{{#t}}Cancel{{/t}}</a>
            </div>
        </form>
    </section>
</div>
