<div id="account-recovery-confirm-revoke">
    <section class="modal-panel">
        <h3>{{#t}}Are you sure you want to revoke?{{/t}}</h3>
        <p class="revoke-description">{{#t}}Revoking your account recovery key will not allow it to be used to recover your data in the event you reset your password.{{/t}}</p>

        <div class="button-row">
            <button class="settings-button warning-button revoke">{{#t}}Revoke{{/t}}</button>
            <button class="settings-button secondary-button cancel-link">{{#t}}Cancel{{/t}}</button>
        </div>
    </section>
</div>
