<div id="account-recovery-key">
    <section class="modal-panel">
        <div class="error"></div>

        <h2>{{#t}}Recovery key{{/t}}</h2>

        <p class="description">
            <span class="note">{{#t}}NOTE:{{/t}}</span>
            {{#t}}
                Please store your recovery key in a safe physical location. In the event you forget your password, they
                can be used to restore you account data.{{/t}}
        </p>

        <h2 class="recovery-key">B1U7-KGE3-5K82-1F39-CX7C-TFFE-UR</h2>

        <div class="button-row code-options">
            <a class="code-option download-codes">
                <div class="graphic graphic-recovery-codes-download"></div>
                <p class="name">{{#t}}Download{{/t}}</p>
            </a>
            <a class="code-option copy-codes">
                <div class="graphic graphic-recovery-codes-copy"></div>
                <p class="name">{{#t}}Copy{{/t}}</p>
            </a>
            <a class="code-option print-codes">
                <div class="graphic graphic-recovery-codes-print"></div>
                <p class="name">{{#t}}Print{{/t}}</p>
            </a>
        </div>

        <div class="button-row">
            <button class="secondary-button done-link">{{#t}}Done{{/t}}</button>
        </div>
    </section>
</div>
