<aside class="marketing text-snippet newsletter-optin" data-marketing-type="newsletter">
  <input type="checkbox" id="newsletter-optin" name="newsletter-optin" />
  <label for="newsletter-optin">{{#t}}Subscribe to Firefox news &amp; tips{{/t}}</label>
  <p class="light">{{#t}}I'm okay with Mozilla handling my info as explained in <a href="https://www.mozilla.org/privacy/" target="_blank">this Privacy Policy</a>.{{/t}}
</aside>

<div class="spinner hidden"></div>
<div class="error"></div>
<div class="success"></div>

