<aside class="marketing desktop text-snippet survey" data-marketing-type="survey">
    <span class="marketing-copy">We're making Firefox Accounts better for you.</span>
    <a class="marketing-link" href="http://mzl.la/1oV7jUy" target="_blank">Help us by taking this quick survey.</a>
</aside>

