<div id="client-disconnect">
  <section class="modal-panel">
    {{#toDisconnect}}
      <h2>{{#t}}Disconnect from Sync?{{/t}}</h2>
      <div class="error"></div>

      <p class="intro">
      {{#t}}Your browsing data will remain on %(deviceName)s, but it will no longer sync with your account.{{/t}}
      </p>

      <div class="select-row-wrapper">
      <label class="label-helper"></label>
      <div class="select-row">
        <select class="disconnect-reasons">
          <option value="reason">Reason for disconnecting...</option>
          <option value="suspicious">Suspicious device</option>
          <option value="lost">Lost or stolen device</option>
          <option value="old">Old or replaced device</option>
          <option value="no">Rather not say</option>
        </select>
      </div>
      </div>

      <form novalidate>
        <div class="button-row">
          <button type="submit" id="submit-btn" class="settings-button primary disabled">{{#t}}Disconnect{{/t}}</button>
          <button class="settings-button secondary" id="back">{{#t}}Cancel{{/t}}</button>
        </div>
      </form>

    {{/toDisconnect}}
    {{^toDisconnect}}
      <h2>{{#t}}Disconnection Successful{{/t}}</h2>

      {{#reasonSuspicious}}
      <p class='reason-help'>
        We’re sorry to hear about this. If this was a device you
        really don’t trust, you should change your Firefox Account password,
        and change any passwords saved in Firefox.
      </p>
      {{/reasonSuspicious}}
      {{#reasonLost}}
      <p class='reason-help'>
        We’re sorry to hear about this. You should change your Firefox Account password,
        and look for information from your device manufacturer about erasing your data remotely.
      </p>
      {{/reasonLost}}
    {{/toDisconnect}}
  </section>
</div>
