<div id="emails" class="settings-unit">
    <div class="settings-unit-stub">
        <header class="settings-unit-summary">
            <h2 class="settings-unit-title">{{#t}}Email addresses{{/t}}</h2>
        </header>
        <button class="settings-button secondary settings-unit-toggle hidden" data-href="settings/emails">
            {{#t}}Manage…{{/t}}
        </button>
    </div>

    <div class="settings-unit-details">
        <div class="error"></div>

        <form novalidate>
            <p>
                {{#t}}Choose if you would like to receive the monthly Firefox newsletter, and where you would like to
                    receive emails to confirm new Sync devices.{{/t}}
            </p>
            <ul class="email-list button-row">
                {{#emails}}
                    <li class="email-address">
                        <div class="address">{{address}}</div>
                        <div class="details">
                            {{#isPrimary}}
                                Username, device confirmations and newsletter
                            {{/isPrimary}}

                            {{^isPrimary}}
                                {{#isVerified}}
                                    Device confirmations
                                {{/isVerified}}
                                {{^isVerified}}
                                    <span class="verification-warning"></span>
                                    Verification pending <a>Resend</a>
                                {{/isVerified}}
                            {{/isPrimary}}
                        </div>

                        {{#isPrimary}}
                            <button class="settings-button secondary disabled">
                                {{#t}}Options…{{/t}}
                            </button>
                        {{/isPrimary}}
                        {{^isPrimary}}
                            <button class="settings-button warning">
                                {{#t}}Remove…{{/t}}
                            </button>
                        {{/isPrimary}}
                    </li>
                {{/emails}}
            </ul>

            <div class="input-row">
                <p>
                    {{#t}}
                        Enter an extra email address for confirming new Sync devices. This is useful when you are unable
                        to check your primary email address.{{/t}}
                </p>
                <label class="label-helper"></label>
                <input type="text" class="text new-email" placeholder="{{#t}}Additional email{{/t}}"
                       value="{{ newEmail }}" autofocus autocomplete="off"/>
            </div>
            <div class="button-row">
                <button type="submit" class="settings-button primary disabled">{{#t}}Add{{/t}}</button>
                <button class="settings-button secondary cancel">{{#t}}Done{{/t}}</button>
            </div>
    </div>
</div>
