<div id="emails" class="settings-unit">
    <div class="settings-unit-stub">
        <header class="settings-unit-summary">
            <h2 class="settings-unit-title">{{#t}}Secondary email{{/t}}</h2>
        </header>
        <button class="settings-button secondary settings-unit-toggle hidden" data-href="/settings/emails">
            {{#hasSecondaryEmail}}{{#t}}Change…{{/t}}{{/hasSecondaryEmail}}
            {{^hasSecondaryEmail}}{{#t}}Add…{{/t}}{{/hasSecondaryEmail}}
        </button>
    </div>

    <div class="settings-unit-details">
        <div class="error"></div>

        <form novalidate>
            {{#hasSecondaryEmail}}
                <p>
                    {{#t}}Current secondary email associated with account.{{/t}}
                </p>
                <ul class="email-list button-row">
                    {{#emails}}
                        {{^isPrimary}}
                            <li class="email-address">
                                <div class="address">{{email}}</div>
                                <div class="details">
                                    {{#isVerified}}
                                        verified
                                    {{/isVerified}}
                                    {{^isVerified}}
                                        not verified
                                    {{/isVerified}}
                                </div>
                                <button class="settings-button warning email-disconnect" data-id="{{email}}">
                                    {{#t}}Remove...{{/t}}
                                </button>
                            </li>
                        {{/isPrimary}}
                    {{/emails}}
                </ul>
            {{/hasSecondaryEmail}}

            {{^hasSecondaryEmail}}
                <div class="input-row">
                    <p>
                        {{#t}}
                            A secondary email is an additional address for receiving security
                            notices and confirming new Sync devices.{{/t}}
                    </p>
                    <label class="label-helper"></label>
                    <input type="text" class="text new-email" placeholder="{{#t}}Email address{{/t}}"
                           value="{{newEmail}}" autofocus autocomplete="off"/>
                </div>
            {{/hasSecondaryEmail}}

            <div class="button-row">
                <button type="submit" class="settings-button primary disabled">{{#t}}Add{{/t}}</button>
                <button class="settings-button secondary cancel">{{#t}}Done{{/t}}</button>
            </div>
    </div>
</div>
