{{#isPanelEnabled}}
<div id="services" class="settings-unit {{#isPanelOpen}}open{{/isPanelOpen}}">
  <div class="settings-unit-stub">
    <header class="settings-unit-summary">
      <h2 class="settings-unit-title">{{#t}}Services{{/t}}</h2>
    </header>
    <button class="settings-button secondary settings-unit-toggle hidden"
      data-href="settings/services">
      {{#t}}Show{{/t}}
    </button>
  </div>

  <div class="settings-unit-details">
    <div class="error"></div>

    <form novalidate>
      {{#t}}You can manage your active logged-in sessions below.{{/t}}
      <ul class="device-list button-row">
        {{#services}}
          <li class="service {{type}}" id="{{id}}" style="min-height:120px">
            <div class="service-name">{{name}}</div>
            <button class="settings-button warning service-disconnect" data-id="{{id}}">{{#t}}Revoke Access{{/t}}</button>
          </li>
        {{/services}}
      </ul>

      <div class="button-row">
        <button class="settings-button secondary cancel">{{#t}}Done{{/t}}</button>
      </div>
    </form>
  </div>
</div>
{{/isPanelEnabled}}
